.Alphabet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 10px;
  justify-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.tile {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tile:hover {
  background-color: #4a90e2;
  color: white;
}

.output-string {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/*     Layout builder*/
.layout-builder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.controls {
  margin-bottom: 10px;
}

.controls button {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.partitions-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}
